@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Project Defense</h1>
    <p>
        <a class="btn btn-primary" asp-page="/Student/Slots/Index">Student: Available Slots</a>
        <a class="btn btn-secondary" asp-page="/Instructor/Dashboard">Instructor: Dashboard</a>
    </p>
</div>
